
/* 
.weatherMod .brand 
{
    position: absolute;
    left: 5px;
    top: 10px;
    text-align: center;
    margin: auto;
    background-color: #e7e5e4
} 

.weatherMod h1 {
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    font-size: 30px;
    background-color: #e7e5e4
}


.weatherMod h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    background-color: #e7e5e4;
    letter-spacing: .15em;
}

.weatherMod .forecast-card {
    text-align: center;
    border: 3px solid #000;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    background-color: #e7e5e4
}

.weatherMod #modForm{
   

}*/