.title-card{
    margin: 1rem 5rem 2rem 5rem;
}

.profile-row{
    margin: 0 5rem 5rem 5rem;
}

.profile .table td, .table th{
    border:none;
    font-size: 1.25rem;
}

.profile .table th{
    text-align:right;
}

.profile .table td{
    text-align: left;
}

.profile .pic-container {
    position: relative;
  }
  
  .profile .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    border-radius:50%;
    transition: .5s ease;
    background-color: rgba(0,140,186, .5);
  }
  
  .profile .pic-container:hover .overlay {
    opacity:1;
  }
  
  .profile .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }