.profile .card{
    margin: 4rem 5rem 3rem 5rem;
}

.profile-row{
    margin: 0 5rem 5rem 5rem;
}

.profile .table td, .table th{
    border:none;
    font-size: 1.25rem;
}

.profile .table th{
    text-align:right;
}

.profile .table td{
    text-align: left;
}