
footer{
  position: absolute;
  bottom:0;
  text-align: center;
  width:100%;
  height:20px;
  z-index: 14;
  mix-blend-mode: multiply;
  opacity:0;
  animation: fadeInConst 1s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}

p.footer{
  position:absolute;
  bottom:0;
  z-index:15;
  margin:0;
  color: rgba(255,255,255,.5);
  font-size: .7rem;
  padding: .15rem;
  width:100%;
  text-align:center;
  opacity:0;
  animation: fadeInConst 1s ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 11s;
}
